a:6:{s:11:"sci_account";s:17:"435532809@mail.ru";s:8:"sci_name";s:11:"NvoTradeRub";s:10:"sci_secret";s:10:"3R2PM3i!oc";s:11:"api_account";s:17:"435532809@mail.ru";s:8:"api_name";s:8:"NvoTrade";s:10:"api_secret";s:10:"b8rZ4d2e?s";}